.about-card-icon {
  display: flex;
  padding: 25px 100px;
  border-radius: 4px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: var(--card-set-gap);
    align-items: center;
    justify-content: center;
    
    }
    .about-list{
      @include mq(tab){
          --cards-item: 2;}
      @include mq(desk){
          --cards-item: 4;}
      }
  
  .about-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: $current-color;
      margin-bottom: 10px;
      letter-spacing: 0.03em;

      @include mq(mob-only) {
        text-align: center;}
        
      }
   