.we-do {

    padding-top: 0;
    @include mq(noDesk) {
      display: none;} 
  }
    .we-do__list {
    --card-item: 3;
    }
    .we-do__item {
      position: relative;
    }
    .we-do__text {
   position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 27px;
      background-color: $bgcolor-wdtext;
    }
   
    .we-do__title {
   line-height: 1.14;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $white-color;
    }
  